/* Main content */
.block-2 {
  margin-left: 320px;
  max-width: 1163px;
  max-height: 182px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .block-2 .top-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 108px; }
    .block-2 .top-conteiner .get-in-tuch {
      max-width: 561px; }
      .block-2 .top-conteiner .get-in-tuch .form-title {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.03em;
        color: #1d3444; }
      .block-2 .top-conteiner .get-in-tuch .form-comment {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #5b5b5b;
        margin-top: 32px; }
  .block-2 .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 99px;
    margin-top: 16px; }
    .block-2 .contact-us .location {
      margin-right: 76px; }
    .block-2 .contact-us .title {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.03em;
      color: #0D1317;
      margin-bottom: 16px; }
    .block-2 .contact-us .contacts {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      color: #5B5B5B;
      margin-top: 16px; }
  .block-2 .bottom-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 64px; }
    .block-2 .bottom-conteiner .form {
      margin-right: 55px; }
      .block-2 .bottom-conteiner .form:input {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #9C9C9C;
        border-radius: 27px;
        margin-bottom: 16px;
        width: 605px;
        background: rgba(248, 248, 248, 0.975);
        padding-left: 32px;
        padding-top: auto; }
      .block-2 .bottom-conteiner .form .text-area {
        background: #f1f2f3;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #9C9C9C;
        border-radius: 27px;
        padding-left: 32px;
        padding-top: 32px;
        width: 605px;
        height: 160px; }
      .block-2 .bottom-conteiner .form .main-button {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        width: 119px;
        height: 54px;
        color: #fff;
        background-color: #F58A07;
        border-radius: 27px;
        margin-top: 32px; }
