/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.body {
  font-family: "Poppins", sans-serif;
  background-color: #E5E5E5;

}

.block {
  font-family: "Poppins", sans-serif;
  margin: 0px auto;
  max-width: 100%;
  background-color: #E5E5E5;
  width: 1920px;
  

}

.navbar {
  margin-top: 16px;
  margin-left: 320px;
  margin-right: 320px;
  display: -webkit-inline-flex; 
}

.logo {
  margin-right: 484px;
  margin-top: 14px;
}
.nav_items {
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-transform: capitalize;
  width: 461px;
height: 24px;
display: -webkit-inline-flex;
margin-top: 14px;
}


.about_us,
.careers,
.services,
.blog {
  margin-right: 32px;
color: #394149;
}
.contact_us{
  color: #394149;
}

.blog:hover{
  color: #f58a07;
}
.contact_us:hover{
 color: #f58a07;
}
.about_us:hover{
   color: #f58a07;
}
.careers:hover{
   color: #f58a07;
}
.services:hover{
   color: #f58a07;
}

.button {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 106.5%;
  color: #f58a07;
  margin-left: 40px;
  background-color: hsl(33, 94%, 49%, 0.1);
  height: 52px;
  width: 173px;
  border-radius: 27px;
}

/* Main content */
.block-2{
  margin-left: 320px;
  width: 1163px;
height: 182px;
}

.top-conteiner{
  display: flex;
margin-top: 108px;
}
.get-in-tuch{
  max-width: 561px ;
}
.form-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.03em;
  color: #1d3444;
}
.form-comment {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #5b5b5b;
  margin-top: 32px;
}
.contact-us{
  display: flex;
  margin-left: 99px;
  margin-top: 16px;
}
.location{ 
  margin-right: 76px;
}
.title{
  font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
letter-spacing: -0.03em;
color: #0D1317;
margin-bottom: 16px;
}
.contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #5B5B5B;
  margin-top: 16px;
}

.bottom-conteiner{
  display: flex;
  margin-top: 64px;
  
  
}
.form{
  margin-right: 55px;
}
.form input{
    display: block;
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #9C9C9C;
  border-radius: 27px;
  margin-bottom: 16px;
  width: 605px;
  height: 54px;
  background: rgba(248, 248, 248, 0.975);
  padding-left: 32px;
  padding-top: auto;

}
.text-area{
  background: rgb(241, 242, 243);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #9C9C9C;
  border-radius: 27px;
  padding-left: 32px;
  padding-top: 32px;
  width: 605px;
height: 160px;
}
.main-button{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 119px;
  height: 54px;
  color: #fff;
  background-color: #F58A07;
  border-radius: 27px;
  margin-top: 32px;
}
/* footer */
.block-3{
  background-color: #063255;
  margin-top: 648px;
  width: 1920px;
height: 463px;
}
.footer-top{
  padding-top: 80px;
  margin-left: 320px;
}
.footer-left{
width: 351px;
height: 88px;
}
.footer-title{
  font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
letter-spacing: -0.03em;
color: #FFFFFF;
margin-top: 32px;
margin-bottom: 32px;
}

