/*Normalize*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomo/icomoon.eot");
  src: url("../fonts/icomo/icomoon.eot") format("embedded-opentype"), url("../fonts/icomo/icomoon.ttf") format("truetype"), url("../fonts/icomo/icomoon.woff") format("woff"), url("../fonts/icomo/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before {
  content: "\e900";
  color: #fff; }

.icon-instagram:before {
  content: "\e901";
  color: #fff; }

.icon-twitter:before {
  content: "\e902";
  color: #fff; }

.icon-youtube:before {
  content: "\e903";
  color: #fff; }

body {
  font-family: poppins, sans-serif;
  font-size: 16px; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.navbar {
  margin: 1rem auto;
  max-width: 1280px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.logo {
  margin-right: 30rem;
  margin-top: 1rem; }

.nav-items {
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
  width: 461px;
  height: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem; }
  .nav-items a {
    color: #394149;
    -webkit-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s; }
  .nav-items a:hover {
    color: #f58a07;
    font-size: 1.1em;
    -webkit-transition: all 0.7s linear 0s;
    -o-transition: all 0.7s linear 0s;
    transition: all 0.7s linear 0s; }

.navbar__button {
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  color: #f58a07;
  margin-left: 40px;
  padding-top: 2px;
  background-color: #fef4e8;
  height: 52px;
  width: 173px;
  border-radius: 27px;
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s; }

/*-Header*/
.header {
  background-color: #dceaf5;
  width: 100%; }

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 8rem;
  padding-bottom: 8rem; }

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__content {
  max-width: 559px; }
  .header__content span {
    line-height: 32px;
    color: #394149;
    opacity: 0.87;
    margin-right: 1rem;
    margin-left: 0.5rem; }

.header__title {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.03em;
  color: #1d3444;
  margin-top: 24px;
  margin-bottom: 24px; }

.header__post {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #5b5b5b;
  margin-bottom: 24px; }

.learn-more {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 106.5%;
  color: #f58a07;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

.learn-more:hover {
  color: #1d3444;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

.learn-more:active {
  color: #f58a07; }

/* all posts */
.latest {
  width: 100%;
  margin: 0 auto; }

.latest__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #0d1317;
  margin-bottom: 3.75rem; }

.latest__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.latest__item {
  max-width: 400px;
  max-height: 507px;
  margin-bottom: 2.5rem;
  background-color: #edf7ff;
  border-radius: 25px; }

.latest__content {
  padding: 2rem; }

.latest__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #0d1317; }

.latest__text {
  font-weight: 500;
  line-height: 28px;
  color: #5b5b5b;
  margin-top: 1rem;
  margin-bottom: 1.5rem; }

.contact-us {
  width: 1280px;
  margin: 7rem auto; }
  .contact-us__top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .contact-us__get-in-tach {
    max-width: 561px; }
  .contact-us__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin-bottom: 1.5rem; }
  .contact-us__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5b5b5b;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .contact-us__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 6.2rem; }
  .contact-us .link:hover {
    color: #5b5b5b7b;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .contact-us__location {
    margin-right: 4.75rem; }
  .contact-us__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-bottom: 16px; }
  .contact-us__bottom-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 64px; }
  .contact-us__form input {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    border-radius: 27px;
    margin-bottom: 16px;
    width: 605px;
    height: 54px;
    background: rgba(248, 248, 248, 0.975);
    padding-left: 2rem;
    padding-top: auto;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .contact-us__form input:focus,
  .contact-us__form input:hover,
  .contact-us__form input:focus {
    background-color: rgba(175, 223, 238, 0.27);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .contact-us .contact-us__text-area {
    background: rgba(248, 248, 248, 0.975);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    border-radius: 27px;
    padding-left: 2rem;
    padding-top: 2rem;
    width: 605px;
    height: 160px;
    resize: none;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .contact-us__text-area:focus, .contact-us__text-area:active, .contact-us__text-area:hover {
    background-color: #e1f6fa;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .contact-us .contact-us__button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 120px;
    height: 54px;
    color: #fff;
    background-color: #F58A07;
    border-radius: 27px;
    margin-top: 2rem;
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s; }

.footer {
  background-color: #063255;
  height: 463px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 2; }
  .footer__container {
    margin: 0 auto;
    width: 1350px;
    height: 463px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background-color: #063255;
    z-index: 4; }
  .footer__main {
    z-index: 5; }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto; }
  .footer__column {
    max-width: 350px; }
  .footer__title {
    font-size: 36px;
    line-height: 44px;
    margin: 2rem 0; }
  .footer__icon {
    font-size: 1.5rem;
    margin-left: -1rem; }
  .footer__icon:hover {
    font-size: 1.45rem;
    -webkit-box-shadow: 0 2px 0;
    box-shadow: 0 2px 0; }
  .footer__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 1.5rem; }
  .footer__text {
    display: block;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 1rem;
    color: white;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .footer__text:hover {
    color: #9C9C9C;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .footer input {
    font-weight: 500;
    line-height: 19px;
    color: #9C9C9C;
    border-radius: 27px;
    margin-bottom: 1rem;
    background: rgba(248, 248, 248, 0.975);
    width: 342px;
    height: 54px;
    padding-left: 2rem;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .footer input:active,
  .footer input:hover,
  .footer input:focus {
    background-color: #daedf2;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .footer__button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 157px;
    height: 53px;
    color: #fff;
    background-color: #F58A07;
    border-radius: 27px;
    padding: auto auto;
    margin-left: 0;
    z-index: 1;
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s; }
  .footer__bottom {
    width: 1280px;
    margin: 0 auto;
    z-index: 5; }
  .footer__text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__bottom-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-right: 1rem;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .footer__bottom-text:hover {
    color: #9C9C9C;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .footer span {
    margin: 1rem; }

.footer:before {
  content: "";
  background: #F58A07;
  border-top-right-radius: 20px;
  width: 52.2px;
  height: 144px;
  position: absolute;
  margin-top: 320px;
  z-index: 3; }

.footer:after {
  content: "";
  background: #F58A07;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 52.2px;
  height: 287px;
  position: absolute;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: 30px;
  z-index: 3; }

.button:hover {
  background-color: #e1f6fa;
  color: #394149;
  -webkit-transition: color 0.5s ease 0s, background-color 1s ease-out 0s, -webkit-box-shadow 1s ease-out 0s;
  transition: color 0.5s ease 0s, background-color 1s ease-out 0s, -webkit-box-shadow 1s ease-out 0s;
  -o-transition: color 0.5s ease 0s, background-color 1s ease-out 0s, box-shadow 1s ease-out 0s;
  transition: color 0.5s ease 0s, background-color 1s ease-out 0s, box-shadow 1s ease-out 0s;
  transition: color 0.5s ease 0s, background-color 1s ease-out 0s, box-shadow 1s ease-out 0s, -webkit-box-shadow 1s ease-out 0s;
  -webkit-box-shadow: 0 2px 2px #c4ebf5;
  box-shadow: 0 2px 2px #c4ebf5; }
