@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
body {
  font-family: poppins;
  font-size: 16px; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.navbar {
  margin: 1rem auto;
  max-width: 1280px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.logo {
  margin-right: 484px;
  marjin-top: 1rem; }

.nav_items {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  width: 461px;
  height: 24px;
  display: -webkit-inline-flex;
  margin-top: 1rem; }

.about_us,
.careers,
.services,
.blog {
  margin-right: 32px;
  color: #394149; }

.contact_us {
  color: #394149; }

.blog:hover {
  color: #f58a07; }

.contact_us:hover {
  color: #f58a07; }

.about_us:hover {
  color: #f58a07; }

.careers:hover {
  color: #f58a07; }

.services:hover {
  color: #f58a07; }

.button {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 106.5%;
  color: #f58a07;
  margin-left: 40px;
  background-color: button-bgc;
  height: 52px;
  width: 173px;
  border-radius: 27px; }

.block-2 {
  max-width: 1280px;
  margin: 7rem auto; }
  .block-2 .top-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .block-2 .top-conteiner .get-in-tuch {
      max-width: 561px; }
      .block-2 .top-conteiner .get-in-tuch .form-title {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.03em;
        color: #1D3444;
        margin-bottom: 1.5rem; }
      .block-2 .top-conteiner .get-in-tuch .form-comment {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #5b5b5b; }
    .block-2 .top-conteiner .contact-us {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 99px; }
    .block-2 .top-conteiner .location {
      margin-right: 76px; }
    .block-2 .top-conteiner .title {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.03em;
      color: #0D1317;
      margin-bottom: 16px; }
    .block-2 .top-conteiner .contacts {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      color: #5B5B5B;
      margin-top: 16px; }
  .block-2 .bottom-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 64px; }
    .block-2 .bottom-conteiner .form {
      margin-right: 55px; }
    .block-2 .bottom-conteiner .form input {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #9C9C9C;
      border-radius: 27px;
      margin-bottom: 16px;
      width: 605px;
      height: 54px;
      background: rgba(248, 248, 248, 0.975);
      padding-left: 32px;
      padding-top: auto; }
    .block-2 .bottom-conteiner .form input:focus {
      background-color: rgba(255, 68, 0, 0.27); }
    .block-2 .bottom-conteiner .text-area {
      background: #f1f2f3;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #9C9C9C;
      border-radius: 27px;
      padding-left: 32px;
      padding-top: 32px;
      width: 605px;
      height: 160px; }
    .block-2 .bottom-conteiner .text-area:focus {
      background-color: rgba(255, 68, 0, 0.27); }
    .block-2 .bottom-conteiner .main-button {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      width: 7.5em;
      height: 3.37em;
      color: #fff;
      background-color: #F58A07;
      border-radius: 27px;
      margin-top: 2rem; }

.footer {
  background-color: #063255;
  height: 463px;
  color: #fff;
  margin-top: 1rem; }
  .footer .footer__main {
    max-width: 1280px;
    margin: 5rem auto; }
  .footer .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center; }
  .footer .footer__column {
    max-width: 350px; }
  .footer .footer__title {
    font-size: 36px;
    line-height: 44px;
    margin: 2rem 0; }
  .footer .footer__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 1.5rem; }
  .footer .footer__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 1rem; }
  .footer input {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    border-radius: 27px;
    margin-bottom: 1rem;
    background: rgba(248, 248, 248, 0.975);
    width: 342px;
    height: 54px;
    padding-left: 2rem; }
  .footer .footer__button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 9.8em;
    height: 3.3em;
    color: #fff;
    background-color: #F58A07;
    border-radius: 27px;
    margin-top: 1rem;
    padding: auto auto;
    margin-left: 0; }
  .footer .footer__bottom {
    max-width: 1280px;
    margin: 0 auto; }
  .footer .footer__text-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer .footer__bottom-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin: 4rem; }
  .footer span {
    margin: 1rem; }

.footer__text-conteiner:before {
  content: "";
  background: #F58A07;
  border-top-right-radius: 20px;
  width: 52.2px;
  height: 144px;
  display: inline-block;
  margin-left: -302px;
  margin-top: -20px; }

.footer__text-conteiner:after {
  content: "";
  background: #F58A07;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 52.2px;
  height: 287px;
  display: inline-block;
  margin-right: -299px;
  margin-top: -311px; }
