
/*-Header*/
.header {
  background-color: #DCEAF5;;
  width: 100%;
}
  .container{
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 8rem;
    padding-bottom: 8rem;

  }
    
  .header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    .header__content {
      max-width: 559px;
      span {
        line-height: 32px;
        color: #394149;
        opacity: 0.87;
        margin-right: 1rem;
        margin-left: 0.5rem;
      }
    }
    
      .header__title {
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 72px;
        letter-spacing: -0.03em;
        color: #1d3444;
        margin-top: 24px;
        margin-bottom: 24px;
      }
      .header__post {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #5b5b5b;
        margin-bottom: 24px;
      }
      .learn-more {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 106.5%;
        color: #f58a07;
      }
      .learn-more:hover {
        color: #f1a869;
      }
/* all posts */
.latest {
  width: 100%;
  margin: 0 auto;
}
.latest__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #0d1317;
  margin-bottom: 3.75rem;
}
.latest__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.latest__item {
  max-width: 400px;
  max-height: 507px;
  margin-bottom: 2.5rem;
  background-color: #edf7ff;
  border-radius: 25px; 
}
.latest__content {
  padding: 2rem;
}
.latest__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #0d1317;
}
.latest__text {
  font-weight: 500;
  line-height: 28px;
  color: #5b5b5b;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
