
.contact-us {
    width: 1280px;
    margin: 7rem auto;
    
    &__top-conteinet{
        display: flex;
        justify-content: flex-start;
    }
    &__get-in-tuch{
        max-width: 561px;
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.03em;
        color: #1D3444;
        margin-bottom: 1.5rem;
        }
    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #5b5b5b;
        }
    &__info{
        display: flex;
        margin-left: 6.2rem;
    }
    .link:hover {
    color: #5b5b5b7b;    
}
    &__location{ 
        margin-right: 4.75rem;
    }
    &__subtitle{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.03em;
        color: #0D1317;
        margin-bottom: 16px;
    }
    
    &__bottom-conteiner{
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
    }

    &__form input{
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #9C9C9C;
        border-radius: 27px;
        margin-bottom: 16px;
        width: 605px;
        height: 54px;
        background: rgba(248, 248, 248, 0.975);
        padding-left: 2rem;
        padding-top: auto;
    }
    &__form input:focus,
    &__form input:hover,
    &__form input:focus {
        background-color: rgba(175, 223, 238, 0.27);
        }
    .contact-us__text-area{
        background: rgb(241, 242, 243);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #9C9C9C;
        border-radius: 27px;
        padding-left: 2rem;
        padding-top: 2rem;
        width: 605px;
        height: 160px;
        resize: none;
        }
    &__text-area:focus,
    &__text-area:active,
    &__text-area:hover {
        background-color: rgba(175, 223, 238, 0.27);
        }
    .contact-us__button{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        width: 7.5rem;
        height: 3.37rem;
        color: #fff;
        background-color: #F58A07;
        border-radius: 27px;
        margin-top: 2rem;
    }
    .contact-us__button:hover{
        font-size: 1.1em;
    }
}

