.footer {
    background-color: #063255;
    height: 463px;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative; 
    z-index: 2;

    &__container {
        margin: 0 auto;
        width: 1350px;
        height: 463px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #063255;
        z-index: 4;

    }
    &__main{
        z-index: 5;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;

    }
    &__column {
        max-width: 350px;
        }
    &__title {
        font-size: 36px;
        line-height: 44px;
        margin: 2rem 0;
        }
    &__icon {
        font-size: 1.5rem;
        margin-left: -1rem;
    }
    &__icon:hover {
        font-size: 1.45rem;
        box-shadow: 0 2px 0;
    }
    &__subtitle {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 1.5rem;
        }
    &__text {
        display: block;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 1rem;
        color: white;
        transition-duration: 0.5s;
        }
    &__text:hover {
    color: #9C9C9C;
    transition-duration: 0.5s;
    }
    input{
        font-weight: 500;
        line-height: 19px;
        color: #9C9C9C;
        border-radius: 27px;
        margin-bottom: 1rem;
        background: rgba(248, 248, 248, 0.975);
        width: 342px;
        height: 54px;
        padding-left: 2rem;
        transition-duration: 0.5s;}
    input:active,
    input:hover,
    input:focus {
        background-color:  rgb(218, 237, 242);
        transition-duration: 0.5s;
    }
    &__button{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        width: 157px;
        height: 53px;
        color: #fff;
        background-color: #F58A07;
        border-radius: 27px;
        padding: auto auto;
        margin-left: 0;
        z-index: 1;
        transition-duration: 2s;
        }
    
    &__bottom {
        width: 1280px;
        margin: 0 auto;
        z-index: 5;    
    }
    &__text-container{
        display: flex;
        justify-content: space-between;
    
    }
    &__bottom-text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: white;
        margin-right: 1rem;
        transition-duration: 0.5s;
    }
    &__bottom-text:hover {
    color: #9C9C9C;
    transition-duration: 0.5s;
    }
    span {
        margin: 1rem;
    }
}
.footer:before {
        content: "";
        background: #F58A07;
        border-top-right-radius: 20px;
        width: 52.2px;
        height: 144px;
        position: absolute;
        margin-top: 320px;
        z-index: 3;
    }
.footer:after {
        content: "";
        background: #F58A07;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 52.2px;
        height: 287px;
        position: absolute;
        align-self: flex-end;
        margin-top: 30px;
        z-index: 3;
    }
    