.footer {
    background-color: #063255;
    height: 463px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: related; 
    z-index: -2;
    
    &__main {
        width: 1280px;
        margin: 0 auto;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__column {
        max-width: 350px;
        }
    &__title {
        font-size: 36px;
        line-height: 44px;
        margin: 2rem 0;
        }
    &__icon {
        font-size: 1.5rem;
        margin-left: -1rem;
    }
    &__icon:hover {
    font-size: 2.5rem;
    }
    &__subtitle {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 1.5rem;
        }
    &__text {
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 1rem;
        color: white;
        }
    &__text:hover {
    color: #9C9C9C;
    }
    input{
        font-weight: 500;
        line-height: 19px;
        color: #9C9C9C;
        border-radius: 27px;
        margin-bottom: 1rem;
        background: rgba(248, 248, 248, 0.975);
        width: 342px;
        height: 54px;
        padding-left: 2rem;}
    &__button{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        width: 9.8em;
        height: 3.3em;
        color: #fff;
        background-color: #F58A07;
        border-radius: 27px;
        margin-top: 1rem;
        padding: auto auto;
        margin-left: 0;
        }
    &__bottom {
        width: 1280px;
        margin: 0 auto;
        
    }
    &__text-conteiner{
        display: flex;
        justify-content: space-between;
    
    }
    &__bottom-text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: white;
    }
    span {
        margin: 1rem;
    }
}
.footer:before {
        content: "";
        background: #F58A07;
        border-top-right-radius: 20px;
        width: 52.2px;
        height: 144px;
        position: absolute;
        margin-top: 320px;
        flex-shrink: 0;
        z-index: -1;

    }
.footer:after {
        content: "";
        background: #F58A07;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 52.2px;
        height: 287px;
        position: absolute;
        align-self: flex-end;
        margin-top: -100px;
        flex-shrink: 0;
        z-index: -1;
    }
    