
.navbar {
    margin: 1rem auto;
    max-width: 1280px;
    display: inline-flex; 
    justify-content: space-between;
}

.logo {
    margin-right: 484px;
    marjin-top: 1rem;
}
.nav_items {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    width: 461px;
    height: 24px;
    display: -webkit-inline-flex;
    margin-top: 1rem; 
}


.about_us,
.careers,
.services,
.blog {
    margin-right: 32px;
    color: #394149;
}
.contact_us{
    color: #394149;
}

.blog:hover{
    color: #f58a07;
}
.contact_us:hover{
    color: #f58a07;
}
.about_us:hover{
    color: #f58a07;
}
.careers:hover{
    color: #f58a07;
}
.services:hover{
    color: #f58a07;
}

.button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: #f58a07;
    margin-left: 40px;
    background-color: button-bgc;
    height: 52px;
    width: 173px;
    border-radius: 27px;
}
