.navbar {
  margin: 1rem auto;
  max-width: 1280px;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.logo {
  margin-right: 30rem;
  margin-top: 1rem;
}
.nav-items {
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
  width: 461px;
  height: 24px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  a {
    color: #394149;
    transition: all 0.5s linear 0s;
  }
  a:hover {
    color: #f58a07;
    font-size: 1.1em;
    transition: all 0.7s linear 0s;
  }
}
.navbar__button {
    font-size: 16px;
    font-weight: 600;
    line-height: 106.5%;
    color: #f58a07;
    margin-left: 40px;
    padding-top: 2px;
    background-color: #fef4e8;
    height: 52px;
    width: 173px;
    border-radius: 27px;
    transition-duration: 2s;

}

