
.navbar {
    margin: 1rem auto;
    max-width: 1280px;
    display: inline-flex; 
    
}
.logo {
    margin-right: 30rem;
    margin-top: 1rem;
}
.nav_items {
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    width: 461px;
    height: 24px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem; }
    a {
        color: #394149
    }
    a:hover {
        color: #f58a07;
    }
.button {
    font-size: 16px;
    font-weight: 600;
    line-height: 106.5%;
    color: #f58a07;
    margin-left: 40px;
    background-color: rgba(245, 138, 7, 0.1);
    height: 52px;
    width: 173px;
    border-radius: 27px;
}
.button:hover{
        font-size: 1.1em;
    }

